
.acerca-contenedor {
    background-color: lightslategray;
    height: 60rem;
    margin-top: -45px;
    background-image: url(./../imagenes/aurora.jpg);
}
.acerca__titulo {
    color: lightgrey;
    font-size: $talla-xl;
    font-family: $oswald;
    text-align: center;
    position: absolute;
    top: 20rem; left:0; bottom:0; right:0;
}
.acerca__nombre {
    color: lightsteelblue;
    font-family: $oswald;
    font-size: $talla-xl;
    text-align: center;

}