

    .contenedor-acerca__persona {
        border-bottom-color: orange; 
            border-width: medium;
        
            // border-bottom-color: orange; 
            // border-width: medium;
        }
        
        .acerca-persona__titulo {
            color:navajowhite;
            text-align: center;
            font-family: $anton;
            font-size: $talla-l;
            
        }
        .carta-texto {
            color: slateblue; 
            font-family: $anton;
            text-align: center;
            font-size: 3rem;
        }
  

