// word-wrap: break-word;
.acerca-contenedor {
    background-color: whitesmoke;
    height: 60rem;
    margin-top: -45px;
    position: absolute
}
.acerca__titulo {
    color: lightgrey;
    font-size: $talla-xl;
    font-family: $oswald;
    text-align: center;
    top: 30rem; left:0; bottom:0; right:0;
}
.acerca__nombre {
    color: lightsteelblue;
    font-family: $oswald;
    font-size: $talla-xl;
    text-align: center;
}
section {
    display: block;
    margin: 0 auto 1em;
    height: 150px;
    width: 100%;
    border-radius: .2em;
    position: relative;
    color: white;
}
// .bio {
//     background-color: black;
// }
.card { background-color: black; text-align: center; margin-top: -16px; margin-bottom: 16px; padding-bottom:5px; 
    .fa-desktop {color:lightblue; cursor: pointer; font-size:8em; padding-bottom:10px; &:hover {color: lightgreen; } }
    .fa-folder-open {color:lightblue; cursor: pointer; font-size:8em; padding-bottom:20px; &:hover {color: lightgreen; } }
    .fa-envelope-o {color:lightblue; cursor: pointer; font-size:8em; padding-bottom:20px; &:hover {color: lightgreen; } }
    p{font-size:2vh; font-family: $oswald}
    h4{color:lightseagreen; font-size:4vh; font-family: $oswald;} }