
.biografia-contenedor {
    border-width: 5px;
    border-style: solid;
    border-color:  indianred;
    padding-top: 10rem;
    background-color: $negro;
    height: 400px;
    color: whitesmoke;   
    
    
    h4:nth-child(2) {
        color: lightblue;
    }
}
.biografia__nombre {
    h3 {
        color:  #f8c471;
        font-family: $anton;
    }
}
.biografia__estudios {
    h4 {
        color: lightsalmon;
        font-family: $anton;
        text-align: center;
    }
}
.biografia__años {
    span{color:lightcoral;}
    span:nth-child(2) {
        color:#f9e79f;
    }
}
p { font-family: $anton; 
    text-align: center;
    font-size: 3rem;
    color: floralwhite;
}




