
.cabecera-nota {
    color:whitesmoke; 
    background:$negro; 
    padding: $talla-s 0;
    margin-bottom: $talla-xs;
    height: 35rem;
    //background-image: url(./../imagenes/beach.jpg);
    background-position: center;
    //position: absolute;
}    
.cabecera__info {
    text-align: center;
    margin-top: 5rem
    //position: relative;
}
.cabecera__titulo {
    font-size: $talla-xl; 
    color:lightblue;
    font-family: $oswald;
    margin: 0px; 
}
.cabecera__subtitulo { 
    color: tomato; 
    font-weight: 500;
    font-family: $anton;
    font-size: 2rem;
    margin:0; 
}
hr{
    width: 150px;
    //text-align: left;
    padding-left: 50px;
    //margin-top: 3px;
    margin: auto;
    float: center;
    border: 0; 
    height: 2px;
    background: turquoise;
    //background-image: linear-gradient(to right, #ccc, salmon, #ccc);
}
.nav-link {
    color: cadetblue;
    outline: none;
    font-family: $dosis;
    font-size: 2rem;
    text-align: center;
}
.espacio-cabecera {
    margin-top: 5rem;
    background-color: rosybrown;
    
}
.cabecera-parallax {
    height: 500px;
}
.fa-keyboard { color:teal; }
.fa-at { color:teal; }
@media (min-width: $escritorio-breakpoint) {
    .cabecera-nota {margin-bottom: $talla-xl;}
}
