// AgregarClima.js
.contenedor__agregar-clima {
    text-align: center;
    width: 200px;
    ::placeholder { 
        color: lightgoldenrodyellow;
    }
}
.contenedor__clima {
    margin-top: -21px;
    background-color: $negro;

    h1 { color: whitesmoke; 
        font-family: $dosis; }
    p {color: lightgoldenrodyellow; }
}