
// .card-deck {
    .card-deck { 
        background-color: $negro;
        //height: 310px; 
       
    }
    .card { background-color:$negro; border-bottom-color: orange; 
         height: 29rem; padding-top: -10px;
        border-width: 5px;
        border-style: solid;
        border-color:  indianred; 
    }
    .card-title { 
        font-size: $talla-l; color: $agua;
        font-family: $anton; text-align: center;
    }
    .card-text-email {
        font-size: $talla-s; color:lightsalmon; 
        font-family: $anton; text-align: center;
        span { color: lightblue; &:hover {color: greenyellow;
                cursor: pointer; } }

    }
    .card-text {
        color: lightgoldenrodyellow; font-family: $yanone;
        font-size: 20px; text-align: center;
        word-wrap: break-word;
    }
    span { color: lightcoral; }

    .text-muted { font-family: $oswald; }
    .fa-building {color:lightblue; cursor: pointer; 
        margin-bottom: $talla-m; 
            &:hover {color: lightgreen; } 
        }
    .fa-folder-open {color:lightblue; cursor: pointer; 
        margin-bottom: $talla-m; 
            &:hover {color: lightgreen; } 
        }
    .fa-flask {color:lightblue; cursor: pointer;
        margin-bottom: $talla-m; 
            &:hover {color: lightgreen; }
        }
    .fa-github {color:lightblue; margin-top: -10px;
        &:hover {color: lightgreen; }
}