
.hogar-contenedor {
    background-color: lightslategray;
    height: 60rem;
    margin-top: -45px;
    //background: url(imagenes/aurora.jpg) no-repeat center center fixed;
}
.hogar__titulo {
    color: lightgrey;
    font-size: $talla-l;
    text-align: center;
    font-family: $anton;
}