
.hogar-contenedor {
    background-color: lightslategray;
    height: 60rem;
    margin-top: -45px;
    background-image: url(./../imagenes/aurora.jpg);
}
.hogar__titulo {
    color: lightgrey;
    font-size: $talla-xl;
    text-align: center;
    font-family: $oswald;
    //margin: auto;
    //display: flex;
    top: 20rem; left:0; bottom:0; right:0;
}