.nav-contenedor {
    nav { 
        background-color: $negro; 
        border-width: 5px;
        border-style: solid;
        border-bottom-color: indianred;
    }
    // nav {
    //     
    // }
    li > a {color:lightcyan;
            text-decoration: none;
            border-style: none;
        }
    h3 {text-align: center; }
}
.nav-contenedor {
    a:active { 
        outline: none !important; 
        // -moz-outline-style: none !important; 
    }
    a:focus { 
        outline: none !important; 
        // -moz-outline-style: none !important; 
    }
}
.nav-contenedor {
    .fa-github {color:lightblue; 
        &:hover {color: lightseagreen; }
    }
    .fa-jsfiddle {color:lightblue; 
        &:hover {color: lightseagreen; }
    }
    .fa-codepen {color:lightblue; 
        &:hover {color:lightseagreen; }
    }
}
.nav-contenedor {
    hr{
        width: 150px;
        //text-align: left;
        padding-left: 50px;
        //margin-top: 3px;
        margin: auto;
        float: center;
        border: 0; 
        height: 2px;
        //background: orangered;
        background-image: linear-gradient(to right, #ccc, $negro, #ccc);
      }    
}
.logo-jerry {
    color:#34495e;
    font-size: 1.5rem;
    cursor: pointer;
}