.nav-contenedor {
    nav { 
        background-color: $negro; 
        border-width: 5px;
        border-style: solid;
        border-bottom-color: indianred;
    }
    
}
.nav-contenedor__enlaces {
    .enlace {
        color: #2e4053;
        text-decoration: none;
        outline: none;
    }
}
// iconos 
.fa-github {
    color:lightblue; 
    &:hover {
        color: lightseagreen; 
    }
}
.fa-angle-right {
    color: lightseagreen;
}
.fa-jsfiddle {
    color:lightblue; 
}
.fa-codepen {
    color:lightblue; 
    &:hover {
        color:lightseagreen; 
    }
}
// barra
.nav-contenedor__barra {
    hr {
        width: 150px;
        padding-left: 50px;
        margin: auto;
        float: center;
        border: 0; 
        height: 2px;
        background-image: linear-gradient(to right, #ccc, $negro, #ccc);
    }    
}
// 
.nav-contenedor__logo-jerry {
    p {
        color:#34495e;
        font-size: 1.5rem;
        margin-bottom:15rem;    
    }
}