

    .contenedor-acerca__persona {
        border-bottom-color: orange; 
            border-width: medium;
        
            // border-bottom-color: orange; 
            // border-width: medium;
        }
        
        .acerca-persona__personal {
            color:lightblue;
            text-align: center;
            font-family: $anton;
            font-size: $talla-l;
            
        }
        .carta-nombre {
            
            -webkit-text-fill-color: transparent; 
            -webkit-text-stroke: palevioletred 1px;
    
            font-family: $anton;
            text-align: center;
            font-size: 3rem;
        }
        .carta-edad {
            -webkit-text-fill-color: transparent; 
            -webkit-text-stroke: palevioletred 1px;
            font-family: $anton;
            text-align: center;
            font-size: 3rem;
            
        }
        
  

